<p><strong>¡Queremos tenerte como expositor en Java Day 2015!</strong></p>
<p>Java Day Guatemala es la conferencia Java más grande de Centroamérica, durante cuatro ediciones hemos construido un punto de encuentro para desarrolladores, arquitectos y entusiastas de Java en Guatemala.</p>
<p>El Java Day se llevara a cabo el día 14 de Noviembre de 2015 y -a diferencia de otras conferencias- Java Day Guatemala es realizada por y para la comunidad.</p>
<p><strong>¡Participa como presentador!</strong></p>
<p>El Grupo de Usuarios Java de Guatemala -GuateJUG- invita a todos aquellos interesados a compartir su conocimiento mediante conferencias para publico principiante, intermedio y avanzado.</p>
<p>¿Tienes algo interesante que deseas compartir con la comunidad?, ¿Innovaciones implementadas en Java?, ¿Casos de éxito en Java?. Nosotros y los asistentes del Java Day queremos saber de ti.</p>
<p>Como todos los años, hemos dividido las conferencias en ejes temáticos, siendo estos:</p>
<p><strong>Core Java</strong></p>
<p>Todos aquellos tópicos relacionados a Java como plataforma de desarrollo, temas relacionados con APIs, bibliotecas de funciones, algoritmos, y conceptos utiles para programadores en general.</p>
<p><strong>Server side Development</strong></p>
<p>El foco de este eje son presentaciones de frameworks de la JVM como plataforma de desarrollo, -e.g. Java EE, Spring, OSGi, Akka, Vert.x, Dropwizard -.</p>
<p><strong>Client side Development</strong></p>
<p>Todos los tips y frameworks para desarollo de front-ends Java o que Interactuan con Java, -e.g. Vaadin, JSF, Typeleaf, frameworks JS/MVVM-.</p>
<p><strong>Emerging Languages</strong></p>
<p>Considerando que la Java Virtual Machine es políglota, se crea un espacio especial para todas las presentaciones relacionadas con Scala, JRuby, Groovy, Clojure, Jython, JavaScript, Ceylon etc.</p>
<p><strong>Mobile Development</strong></p>
<p>Temas relacionados con desarrollo en dispositivos moviles y embedidos, Java Embedded, Java Me, Java TV, Android y relacionados.
Tendencias/Casos de Exito/Comunidad</p>
<p><strong>Tools and Methodologies</strong></p>
<p>Porque no todo en esta vida es código, este espacio esta reservado a presentaciones de casos de exito, startups, trabajos académicos, tendencias de mercado (NoSQL, BigData, Cloud), nuevas metodologías (continuous delivery, DevOps), y herramientas.</p>
<p><strong>Recepción de propuestas</strong></p>
<p>Las propuestas serán recibidas a través del siguiente enlace:</p>
<p>http://cfp.guate-jug.net/</p>
<p>Es importante notar que:</p>
<ul>
<li>
<p>Java Day es un evento comunitario, por tanto no se aceptaran presentaciones cuyo único objetivo sea la promoción de productos (el evento cuenta con planes de patrocinio).</p>
</li>
<li>
<p>El presentador se compromete a liberar su presentación bajo una licencia que permita la libre distribución del contenido (sugerimos CC-BY-SA 3.0 GT, y que la misma sera entregada al comite organizador, al menos 48 horas antes de su presentación en Java Day.</p>
</li>
<li>
<p>No existe un limite de presentaciones por persona.</p>
</li>
</ul>
<p><strong>Fechas importantes</strong></p>
<p>Inicio de recepción de propuestas: <strong>30/08/2015</strong></p>
<p>Fin de recepción de propuestas: <strong>23/10/2015</strong></p>
<p>Anuncio de propuestas aceptadas y horario preliminar: <strong>26/10/2015</strong></p>
<p><strong>Contacto:</strong></p>
<p>info (arroba) guate-jug (punto) net</p>
<p>¡Muchas gracias por tu participación y contribución!</p>